<%= form_with(model: @goal, url: @url, method: @method, local: true, data: { controller: "goal-form" }) do |form| %>
  <div class="field">
    <%= form.label :name, "Name" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :description, "Description" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <h2>Initial State</h2>
  <%= form.fields_for :goal_rules, @goal.goal_rules.select { |gr| gr.state == "initial" } do |gr_form| %>
    <%= render RuleBuilderComponent.new(form: gr_form, current_account: @current_account) %>
  <% end %>

  <h2>End State</h2>
  <%= form.fields_for :goal_rules, @goal.goal_rules.select { |gr| gr.state == "end" } do |gr_form| %>
    <%= render RuleBuilderComponent.new(form: gr_form, current_account: @current_account) %>
  <% end %>

  <div class="actions">
    <%= form.submit "Save Goal", class: "btn btn-primary" %>
  </div>
<% end %>
