<!-- app/views/rule_groups/_form.html.erb -->
<div class="rule-group-item">
  <%= hidden_field_tag "goal[#{state}_state][rule_groups][][id]", rule_group.id %>

  <div>
    <%= label_tag "goal[#{state}_state][rule_groups][][name]", "Rule Group Name" %><br>
    <%= text_field_tag "goal[#{state}_state][rule_groups][][name]", rule_group.name %>
  </div>

  <div>
    <%= label_tag "goal[#{state}_state][rule_groups][][operator]", "Operator" %><br>
    <%= select_tag "goal[#{state}_state][rule_groups][][operator]",
      options_for_select([ "AND", "OR", "NOT" ]) %>
  </div>

  <!-- Nested Rules and Rule Groups -->
  <div id="rule-group-<%= rule_group.object_id %>-items">
    <!-- Nested items will be appended here -->
  </div>
  <div>
    <%= link_to "Add New Rule", new_rule_path(state: state, parent_group_id: rule_group.object_id),
      data: { turbo_stream: true }, class: "btn btn-primary" %>
    <%= link_to "Add New Group", new_rule_group_path(state: state, parent_group_id: rule_group.object_id),
      data: { turbo_stream: true }, class: "btn btn-secondary" %>
  </div>
</div>
