<%= form_with model: @goal do |f| %>
  <!-- Name field -->
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <!-- Description field -->
  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <!-- Initial State Section -->
  <div>
    <h3>Initial State</h3>
    <div id="initial-state-items">
      <%= f.fields_for :goal_rules do |goal_rule_fields| %>
        <% if goal_rule_fields.object.state == 'initial' %>
          <%= render 'goal_rule_fields', f: goal_rule_fields, state: 'initial', traits: @traits, client_application_options: @client_application_options %>
        <% end %>
      <% end %>
    </div>
    <!-- Link to Add New Person Rule for Initial State -->
    <div>
      <%= link_to "Add New Person Rule",
        add_initial_state_goal_rules_path,
        class: "btn btn-primary",
        data: { turbo_stream: true } %>
    </div>
  </div>

  <!-- End State Section -->
  <div>
    <h3>End State</h3>
    <div id="end-state-items">
      <%= f.fields_for :goal_rules do |goal_rule_fields| %>
        <% if goal_rule_fields.object.state == 'end' %>
          <%= render 'goal_rule_fields', f: goal_rule_fields, state: 'end', traits: @traits, client_application_options: @client_application_options %>
        <% end %>
      <% end %>
    </div>
    <!-- Link to Add New Person Rule for End State -->
    <div>
      <%= link_to "Add New Person Rule",
        add_end_state_goal_rules_path,
        class: "btn btn-primary",
        data: { turbo_stream: true } %>
    </div>
  </div>

  <!-- Save Button -->
  <%= f.submit "Save Goal", class: "btn btn-success" %>
<% end %>
