<!-- app/views/goals/_form.html.erb -->
<%= form_with(model: @goal, local: true) do |form| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>
      <ul>
        <% @goal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Goal Name -->
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <!-- Goal Description -->
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <!-- Rules Section -->
  <h3>Rules</h3>
  <div id="rules" data-goal-form-target="rulesContainer">
    <%= form.fields_for :goal_rules do |gr_form| %>
      <%= render "goal_rules/goal_rule_fields", f: gr_form, traits: @traits %>
    <% end %>
    <div class="form-actions">
      <%= link_to "Add Rule", "#", class: "btn btn-secondary", data: { action: "click->goal-form#addRule" } %>
    </div>
  </div>

  <!-- Rule Groups Section -->
  <h3>Rule Groups</h3>
  <div id="rule_groups" data-goal-form-target="ruleGroupsContainer">
    <%= form.fields_for :goal_rule_groups do |grg_form| %>
      <%= render "goal_rule_groups/goal_rule_group_fields", f: grg_form, traits: @traits %>
    <% end %>
    <div class="form-actions">
      <%= link_to "Add Rule Group", "#", class: "btn btn-secondary", data: { action: "click->goal-form#addRuleGroup" } %>
    </div>
  </div>

  <!-- Submit Button -->
  <div class="actions mt-4">
    <%= form.submit "Save Goal", class: "btn btn-primary" %>
  </div>
<% end %>
