<!-- app/views/goals/_goal_rule_group_fields.html.erb -->
<div class="rule-group border p-3 mb-3" data-rule-group>
  <!-- Hidden Field for State -->
  <%= f.hidden_field :state, value: state %>

  <!-- Rule Group Attributes -->
  <%= f.fields_for :rule_group do |rg_form| %>
    <div class="form-group">
      <%= rg_form.label :name, "Group Name" %>
      <%= rg_form.text_field :name, class: "form-control" %>
    </div>
  <% end %>

  <!-- Rules within the Group -->
  <div class="rules mb-3">
    <%= f.fields_for :rules do |rule_form| %>
      <%= render "rules/person_form", f: rule_form, traits: traits, state: state %>
    <% end %>
  </div>

  <!-- Action Buttons -->
  <div class="form-actions">
    <%= link_to "Add Nested Rule Group", "#", class: "btn btn-secondary btn-sm mr-2",
      data: { action: "click->goal-form#addNestedRuleGroup" } %>
    <%= link_to "Add Rule", "#", class: "btn btn-secondary btn-sm",
      data: { action: "click->goal-form#addRule" } %>
    <%= link_to "Remove Rule Group", "#", class: "btn btn-danger btn-sm mt-2",
      data: { action: "click->goal-form#removeField" } %>
  </div>
</div>
