<h1><%= @goal.name %></h1>
<p><%= @goal.description %></p>
<p>Success Rate: <%= @goal.success_rate %></p>

<h2>Initial State Rule</h2>
<% initial_rule = @goal.goal_rules.find_by(state: :initial)&.rule %>
<%= initial_rule ? initial_rule.name : "No Initial Rule set" %>

<h2>End State Rule</h2>
<% end_rule = @goal.goal_rules.find_by(state: :end)&.rule %>
<%= end_rule ? end_rule.name : "No End Rule set" %>
